<!DOCTYPE>
<html>
{% include 'partials/head.html' %}
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">KeepAPlace</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">salle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">reservation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">about us</a>
            </li>
          </ul>
        </div>
      </nav>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-2">
      <h1 class="h1">Bienvenue sur KIPAPLACE</h1>
    </div>
  </div>

    <div class="col-sm-7 mt-5">
      <div class="row">
        <h3>sdfg</h3>
      </div>
      

    </div>
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!4v1546274588632!6m8!1m7!1slOT4mn45l_YnqhS-vcNzFQ!2m2!1d32.06479764058561!2d34.77450662265286!3f335.51132!4f0!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->


  <div class="col-sm-3">
    fefvfc


  </div>



  </div>
</div>

</body>
</html>
